body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%
}

h1 {
	color: orange;
	font-size: 50px;
}

h2 {
	color: orange;
	font-size: 32px
}

body {
	background-image:
url("https://cdn.vox-cdn.com/thumbor/MtoMILchLDGo28wcKbegkcm0L9c=/0x0:950x623/1200x800/filters:focal(399x236:551x388)/cdn.vox-cdn.com/uploads/chorus_image/image/60988327/Xbox_One_X_Screenshot_05.0.jpg")
}

img {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 60%; 
}

iframe {
	height: 50body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%
}

h1 {
	color: orange;
	font-size: 50px;
}

h2 {
	color: orange;
	font-size: 32px
}

body {
	background-image:
url("https://cdn.vox-cdn.com/thumbor/MtoMILchLDGo28wcKbegkcm0L9c=/0x0:950x623/1200x800/filters:focal(399x236:551x388)/cdn.vox-cdn.com/uploads/chorus_image/image/60988327/Xbox_One_X_Screenshot_05.0.jpg")
}

img {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 60%; 
}

iframe {
	height: 100%;
	margin: 0;
	width: 100%;
	text-align: 60%
}
	